@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

canvas {
  position: absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
    }
h1 {

  position: fixed;
  margin: 0;
  text-align:center;
  color: white;
  font-size: 130px;
  font-family: 'Teko', sans-serif;
  text-shadow: -10px 10px 0px rgb(71, 51, 130),
                   -20px 20px 0px rgb(48, 38, 77),
                   -30px 30px 0px #3b315c;
}
h1:hover {
  cursor:wait;
  text-shadow: 10px -10px 0px rgb(71, 51, 130),
                   20px -20px 0px rgb(48, 38, 77),
                   30px -30px 0px #432699,
                   30px -30px 0px #44327a;
}
#fbr{
  margin-top: -10px;
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 40px;
}
#sscb{
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  background-attachment: fixed;
  font-family: Arial;
}
svg {
    display: block;
    font: 9.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #413075;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #5b3abd;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #774aff;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #3491c7;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #ff00f2;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
h1,h2,h3,svg{
  position:relative;
}
